.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.table {
  width: 100%;
}

.table_user_info {
  display: flex;
  gap: 10px;
}

.cart_img {
  width: 50px;
  border-radius: 10px;
}
