.sidebarWrapper {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  gap: 20px;
  font-size: 12px;
  font-weight: 400;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  background-color: transparent;
}

.sidebar {
  width: 73px;
  text-align: center;
  background-color: white;
}

.logo {
  padding: 16px;
  background-color: transparent;
  img {
    width: 150px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  background-color: transparent;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerButton {
  background: transparent;
  border: none;
  height: 24px;
}

.logout {
  display: flex;
  width: fit-content !important;
  margin-left: 30px;
}

.collapsedLogout {
  padding: 13px 20px;
  border-radius: 10.788px;
  background: #fff;
  height: 46.2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08);
  :global {
    .ant-btn-icon {
      margin-inline-end: 16px;
    }
  }
}

.link {
  background: transparent;
}

.process_list {
  height: 200px;
  font-weight: 600;
}

.menu {
  ul {
    max-height: 270px;
    overflow: scroll;
    // margin: 10px 0 !important;
  }
  background-color: transparent !important;
  
  :global {
    .ant-menu-item {
      background-color: transparent !important;
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.04) !important;
      }
    }
    
    .ant-menu-submenu {
      background-color: transparent !important;
      
      .ant-menu-submenu-title {
        background-color: transparent !important;
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.04) !important;
        }
      }
    }
  }
}
