.card_wrap {
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  transition: 0.3s;
  

  &:hover {
    box-shadow: inset 1px 0 0 rgb(218, 220, 224),
      inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
}
