.content {
  width: 100%;
}

.btn {
  width: 100%;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: start;
  gap: 10px;
  border-radius: 10px;
}

.btn_table {
  width: 100%;
  border: none;
  border-radius: 10px;
}
