.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  width: 150px;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
}

.btn_table {
  border: none;
  border-radius: 10px;
}
