@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 12px; */
  font-family: "Manrope", Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

body {
  color: #252f4a;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: black;
}

li {
  list-style: none;
}

.basic {
  padding-top: 20px;
  padding-left: 20px;
}

.w-full {
  width: 100%;
}

.ant-modal .ant-modal-title {
  font-size: 24px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 2px !important;
}

.chain_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #1677ff;
  margin: 0 8px;
}

.arrow {
  position: relative;
  width: 35px;
  height: 1.5px;
  background-color: #1677ff;
  margin: 0 8px;
}

.arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 7px;
  height: 7px;
  border-top: 1.5px solid #1677ff;
  border-right: 1.5px solid #1677ff;
}
