.content {
  padding: 30px;
  background-color: rgb(31, 41, 55);
  border-radius: 10px;
}

.block {
  display: block;
}

.none {
  display: none;
}

.head {
  position: relative;

  svg {
    position: absolute;
    right: -5px;
    font-size: 12px;
    padding: 2px;
    background-color: white;
    color: rgb(31, 41, 55);
  }
}
